{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "loose": true
    }]
  ],
  "env": {
    "example": {
      "plugins": [
        "@babel/plugin-syntax-jsx",
        ["@babel/plugin-transform-react-jsx", { "pragma": "element" }],
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
